.event-list__item {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid #1c8cf5;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-list__item h1 {
  margin: 0;
  font-size: 1.2rem;
  color: #1c8cf5;
  text-transform: capitalize;
}

.event-list__item h2 {
  margin: 0;
  font-size: 0.75rem;
  color: #8a8989;
}

.event-list__item p {
  margin: 0;
}
